{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml"
     lang="en">
	<f:section name="Default">
		<!-- theme_bootstrap_highland: Partials/Area/Footer.html [begin] -->

		<div class="legal">
			<div class="container">
				<div class="row">
					<div class="footer-line-wrapper col-md-12">
						<ul class="footer-line list-inline">
							<li class="address">
							<span><f:format.htmlentitiesDecode>{theme:constant(constant:
								'themes.configuration.footer.address')}
							</f:format.htmlentitiesDecode></span>
							</li>
							<li>|</li>
							<li class="email">
								<f:link.email email="{theme:constant(constant: 'themes.configuration.footer.email')}">
									{theme:constant(constant: 'themes.configuration.footer.email')}
								</f:link.email>
							</li>
							<li>|</li>
							<f:cObject typoscriptObjectPath="lib.footer.copyright"/>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="topcontrol" title="Scroll Back to Top">
			<div class="scrolltotop">
				<i class="fa fa-angle-up"></i>
			</div>
		</div>
		<!-- theme_bootstrap_highland: Partials/Area/Footer.html [end] -->
	</f:section>
</div>